<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syztb_idea_gsf.mapper.ZhaoBMapper">

    <sql id="baseColumn">
        id,phone,name,people_name,project_name,ex,price,close,end_time,create_time,update_time
    </sql>
    
    <select id="selectByName" resultType="com.syztb_idea_gsf.entity.ZhaoB">
        select <include refid="baseColumn"/>
        from zhao_b where name = #{name}
    </select>
    <select id="selectByNameAndProjectName" resultType="com.syztb_idea_gsf.entity.ZhaoB">
        select <include refid="baseColumn"/>
        from zhao_b where name = #{name} and project_name= #{projectName}
    </select>
    <update id="updateClose" >
        update zhao_b set close = true where name = #{name} and project_name= #{projectName}
    </update>
    <update id="updateOpen">
        update zhao_b set close = false where name = #{name} and project_name= #{projectName}
    </update>
    <select id="selectAll" resultType="com.syztb_idea_gsf.entity.ZhaoB">
        select <include refid="baseColumn"/>
        from zhao_b
    </select>
</mapper>
